<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSV Report Generator</title>
  </head>
  <body>
    <h1>CSV Report Generator</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <label for="json">
        <input type="file" name="json" id="file-picker" accept=".json">
      </label>
      <div id="submit">
        <button type="submit">Submit data</button>
      </div>
      <div>
        <%- totalCsv %>
      </div>
    </form>
    <br>
    <form action="/download" method="get">
      <input type="submit" id="download" value="Download CSV File">
    </form>
    <script src="./app.js"></script>
  </body>
</html>